<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sulta.tplan">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- assmaa -->
    <!-- assmaa -->
    <!-- passant -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- passant -->
    <!-- sulta -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- sulta -->
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/travelwithbag"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.LoginActivity" />
        <activity android:name=".view.activities.HomeActivity" />
        <activity android:name=".view.activities.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activities.RegisterActivity" />
        <activity android:name=".view.activities.CreateTripActivity" />
        <!-- assmaa -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD1QFnfpsxuTaNlRkTHKZbRD19gpznKY64" />

        <activity
            android:name=".view.activities.AddNoteActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />

        <!-- assmaa -->


        <!-- passant -->


        <!-- passant -->


        <!-- sulta -->


        <!-- sulta -->
        <service
            android:name=".view.services.ReminderService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".view.receivers.HandleReminder"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />
        <receiver
            android:name=".view.receivers.RestartServiceReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".view.services.ReminderIntentService"
            android:exported="false" />

        <activity android:name=".view.activities.AlarmTestActivity" />
        <activity
            android:name=".view.activities.HeadlessActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".view.activities.DoneTripsMap"
            android:label="@string/title_activity_done_trips_map" />
        <activity android:name=".view.activities.EditTripActivity" />
        <activity android:name=".view.activities.StatisticsActivity"></activity>
    </application>

</manifest>